.login_container{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 5rem;
}
.login_content{
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    width: 30%;
    height: fit-content;
    padding: 1rem;
    border-radius: 10px;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.login_heading{
    letter-spacing: 1px;
    display: flex;
    gap: 4px;
    align-items: center;
}
.login_heading_span{
    background-color: var(--main_color);
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}
.login_logo{
    width: 150px;
    border-radius: 10px;
}
.login_form{
 
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 100%;
}
.login_input_box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login_input_box label{
    color: var(--main_color);
    font-size: 14px;
}
.login_input_box input, .login_btn{
    border: none;
    outline: none;
    height: 35px;
    padding: 0 10px;
    border-radius: 6px;
}

.login_input_box input{
    border: 1px solid rgba(208, 208, 208, 0.704); 
 }
.login_input_box input::placeholder{
 
    color: #AEB1AF;
    font-size: 12px;
    letter-spacing: 0.9px;
}
.login_input_box input:focus{
   border: 1px solid var(--main_color);
   transition: 0.3s;
   
}
.login_btn{
    background-color: var(--main_color);
    font-weight: 600;
    font-size: 17px;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
}
.linkToSignUp{
    text-align: end;
    color: var(--main_color);
    font-size: 13px;
    text-decoration: underline;
}

/* media query */
@media only screen and (min-width: 769px) and (max-width: 992px){
    .login_content {
        width: 55%;
    }
}
@media screen  and (min-width:600px) and (max-width:768px){
    .login_content {
        width: 55%;
    }
}
@media screen  and (min-width:480px) and (max-width:600px){
    .login_content {
        width: 60%;
    }
    .login_input_box label {
        font-size: 12px;
    }
    .linkToSignUp {
        font-size: 11px;
    }
    .login_btn {
        font-size: 14px;
    }
}
@media screen  and (max-width:480px){
    .login_heading {
       
        font-size: 17px;
    }
    .login_content {

        width: 90%;
    }
    .login_input_box label {
        font-size: 11px;
    }
    .login_btn {
        font-size: 13px;
    }
    .login_input_box input::placeholder{
        font-size: 10px;
    }
    .linkToSignUp {
        font-size: 10px;
        
    }
}