.order_details_container{
    width: 100%;
    background-color: gainsboro;
    display: flex;
}
.admin_details_sidebar{
    display: flex;
    /* flex-direction: column; */
    flex: 1.5;
    padding: 1rem;
    /* height: 100vh; */
    background-color:  rgb(210, 210, 210);
}
.admin_details_item{
    /* background-color: rgb(106, 106, 127); */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.admin_product_item li a{
    display: flex;
    align-items: center;
    gap: 5px;
}
.order_details_content{
    display: flex;
    flex-direction: column;
    flex: 10.5;
    /* background-color: bisque; */
    gap: 1rem;  
    padding: 1rem;
}
.order_details_content_box{
    background-color: white;
    padding: 1rem;
}
.order_details_date_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1rem;
    /* background-color: white; */
    border-radius: 10px;
}
.order_details_date{
    display: flex;
    align-items: center;
    gap: 8px;
}
.order_details_date img{
    width: 20px;
    height: 20px;
}
.order_details_status_change_box{

    display: flex;
    align-items: center;
    gap: 1rem;
}

.order_details_status_select{
    padding: 8px 12px;
    border-radius: 5px;

}
.order_details_status_change_box button{
    padding: 8px 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(110, 110, 110);
    cursor: pointer;
    background-color: transparent;
}
.hr{
    background-color: var(--main_color);
    height: 2px;
    border-radius: 5px;

    border: none;
}
.order_details_payment_box{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 2rem;
}
.order_details_profile{
    display: flex;
    align-items: center;
    gap: 1.4rem;
}
.order_details_profile img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.order_details_profile_details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.order_details_profile_details h2{
    font-size: 18px;
    letter-spacing: 1px;
}
.order_details_profile_para p{
    font-size: 13px;
}
.order_details_and_payment_box{
    display: flex;
    gap: 1rem;
}
.order_details_table{
    display: flex;
    flex: 9;
    background-color: rgb(197, 255, 255);
}
.order_details_payment_wrapper{
    display: flex;
    background-color: rgb(195, 131, 255);
    flex: 3;
}