@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=League+Spartan:wght@300;400&family=Poppins:wght@400;500;600;700&family=Shadows+Into+Light&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    color: inherit;
}
:root{
    --main_color:#FF9800;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(182, 182, 182); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #474747; 
  }
/* navbar styling  */
#navbar{

    background-color: var(--main_color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 1rem;
}

.navbar_heading{
    letter-spacing: 1px;
    display: flex;
    gap: 3px;
    align-items: center;
}
.navbar_heading_span{
  
    color: white;
 

}

.navbar_input_wrapper{
    display: flex;
    /* background-color: green; */
    height: 100%;
    /* width: 510px; */
    width: 60%;
    align-items: center;
    position: relative;
}
.navbar_input_wrapper input{
    height: 60%;
    border: none;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 0 8px;
    font-size: 12px;
}
.navbar_search_btn{
    position: absolute;
    right: 5px;
}
.navbar_button_wrapper{
    display: none;

    gap: 1rem;
    align-items: center;
  
}
.logoutButton{
    display: none;
    
}
.navbar_button_wrapper button{
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--main_color);
    background-color: white;
    letter-spacing: 1px;
}
.profile_wrapper{
    display: flex;
    align-items: center;
    gap: 12px;

}
.profile_wrapper img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.logoutButton {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
.username{
    font-size: 14px;
    letter-spacing: 0.7px;
}
.useremail{
    font-size: 12px;
}
/* main container  */
.main_container{
  
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
/* hero section  */
.hero_section{
    display: flex;
    height: 300px;
    /* background-color: green; */
    gap: 1rem;
}

.category_box{
    display: flex;
    align-items: center;
    /* background-color: violet; */
    flex: 2;
    border-radius: 10px;
    overflow: hidden;
}
.category_list{
    background-color: rgb(230, 230, 230);
   
        width: 100%;
        height: 100%;
        
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 6px;
        justify-content: space-between;
        

}

.category_list li{
    font-size: 13px;
}
.category_list li a{
    display: block;
    width: 100%;
        padding: 3px;
}
.slider_box{
   
    flex: 10;
    overflow: hidden;
}
.slider_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

/* best category products */
.best_category_products_section{
    /* background-color: rgb(144, 141, 141); */
    padding: 1rem;
}
.best_category_products_card_container{
    width: 100%;
  padding: 1rem;
    /* background-color: rgb(160, 160, 162); */
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.best_category_products_card{
    min-width: 200px;
    width: 200px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    gap: 8px;
   background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.336) 0px 2px 8px 0px;
   

}

.best_category_product_card_img_wrapper{
    width: 100%;
    height: 170px;
    border-radius: 5px;
    overflow: hidden;
}
.best_category_product_card_img_wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.best_category_product_card_details{
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 50px;
}
.best_category_product_name{
    font-size: 12px;
    letter-spacing: 1px;

    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.best_category_product_price{
    font-size: 15px;
    letter-spacing: 0.9px;
}

/* all products section  */
.all_products_section{
    padding: 1rem;
}
.allProducts_card_container{
    width: 100%;
    padding: 1rem;
      /* background-color: rgb(160, 160, 162); */
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
    
  
}
.all_products_card{
    width: 220px;

    height: 255px;
    display: flex;
    flex-direction: column;
    gap: 12px;
   background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.336) 0px 2px 8px 0px;
    cursor: pointer;

}
.all_product_card_img_wrapper img:hover{
    transform:scale(1.1);
    transition: 0.3s;
}
.all_product_card_img_wrapper{
    width: 100%;
    height: 170px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(236, 236, 236);
}
.all_product_card_img_wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.all_product_card_details{
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 55px;
    justify-content: space-between;
}
.all_product_name{
    font-size: 13px;
    letter-spacing: 1px;
}

.all_product_price{
    font-size: 15px;
    letter-spacing: 0.9px;
}

/* swiper  */
.swiper {
    flex: 10;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* media query */
@media only screen and (min-width: 769px) and (max-width: 992px){
    #navbar{
        gap: 10px;
    }
    .navbar_heading{
        font-size: 17px;
    }
   
    .navbar_search_btn {
        width: 18px;
    }
    .profile_wrapper img {
        width: 25px;
        height: 25px;
    }
    .navbar_button_wrapper a img{
        width: 20px;
        height: 20px;
    }
    .navbar_button_wrapper a button{
        font-size: 11px;
    }
    .category_box {
        flex: 2.5;
    }
    .hero_section {
        height: 280px;
    }
    .best_category_products_card {
        min-width: 190px;
        width: 190px;

    }
    .best_category_product_card_img_wrapper {
        height: 160px;
    }
    .all_products_card {
        width: 190px;

    }
}

@media screen  and (min-width:600px) and (max-width:768px) {
    .navbar_heading{
        font-size: 15px;
    }
    .navbar_input_wrapper {
        height: 85%;
        width: 55%;
    }
    .navbar_input_wrapper input{
        font-size: 10px;
    }
    .navbar_search_btn {
        width: 15px;

    }
    .navbar_button_wrapper a img{
        width: 16px;
        height: 16px;
    }
    .navbar_button_wrapper a button{
        font-size: 8px;
    }

}
@media screen  and (min-width:480px) and (max-width:600px){}
@media screen  and (max-width:480px){}